<div class="col-lg-6">

 <button class="btn btn-default btn-block" ng-click="showCorrentBookings();">Show Current Bookings</button>

 <div class="modal fade" id="Modal" role="dialog">
   <div class="modal-dialog modal-md">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss = "modal">&times;</button>
           <h4 class="modal-title">You Got A Booking</h4>
       </div>
       <div class="modal-body">
         Name:<p id="custName"></p>
           Phone no: <p id="contactno"></p>
           Pickup: <p id="pickup"></p>
          Destination:  <p id="destinationloc"></p>
           Fare: <p id="fare"></p>

       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>

</div>



<div class = "col-lg-6">

  <div id="map" ng-init="initMap();">
</div>
