

<style>
from {
  border : 3px solid #f1f1f1;
}

input[type=text], input[type = password]{
  width: 100%;
  padding : 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login{
  border : 2px solid #ace4b0;
  padding: 10px 10px;
  margin-top: 145px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  box-sizing: border-box;
  width : 450px;
}

</style>




<form>


<div class="container login">
  <center><h3>Login</h3></center>
  <label><b>UserName</b></label>
  <input  type="text" ng-model = "user.Email" placeholder="Email">

  <label><b>Password</b></label>
  <input type= "password" ng-model = "user.Password" placeholder="Password">

  <button class="btn btn-success btn-block" ng-click = "login();">Login</button>
  <div ng-show = "message">
    <div ng-class = "alert">{{ message }}</div>
  </div>
</div>


</form>
